*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;	width: 100%; font-size: 100%; line-height: 1; font-size: 14px; 	-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; 	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.bigred{font-size: 20px; color: red;}


body {font-family: 'Exo 2', sans-serif;}

.border {border: 1px solid green;}
.border2 {border: 1px solid red;}

.super-wrap {
    overflow: hidden;
    margin: 0px auto;
    background: linear-gradient(to bottom, #fbfbfb 0%, #f3f4f6 50%, #ced3d8 70%);
    max-width: 100%;
    }
.sub__wrap {
    flex-direction: column;
    margin: 0px auto;
    background-attachment:fixed;
    height: 100%;
}

@media (max-width: 1800px) {
    .sub__wrap {
        max-width: 100%;
        }
    }
@media (max-width: 1330px) {
    .sub__wrap {
        max-width: 1070px;
        }
    }
@media (max-width: 1100px) {
    .sub__wrap {
        max-width: 970px;
        }
    }
@media (max-width: 992px) {
    .sub__wrap {
        max-width: 750px;
        }
    }
@media (max-width: 767px) {
    .sub__wrap {
        max-width: none;
        }
    }


.header {   
    height: 100%;
}
.header__content{
    align-items: center;
    height: 105px;
    padding: 15px 40px;
}
.logo {
    height: 70px;
}


.main {
    max-width: 100%;
}
.main__content {
    display: flex;
    max-width: 100%;
}
    .lefcen_main_column {
        flex: 0 0 90%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
        .left_center_col {
            width: 280px;
        }
        .main-menu {
            justify-content: center;
            align-items:flex-start;
            height: fit-content;
            background-color: #ff1300;
            margin-bottom: 23px;
            position: relative;
        }
        .aaa {
            display: block;
        }


            .form__goto {
                padding: 22px;
                display: flex;
                justify-content: center;
            }
            .goto {
                background-color: #e11400;
                border-radius: 25px;
                height: 50px;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: white;
                font-weight: 700;
                font-size: 22px;
                padding: 0px 60px 0px 60px;
                box-shadow: 0px 5px 5px #3c354a;
                transition: all 0.5s cubic-bezier(0.68, -0.7, 0.265, 1.55) 0s;
            }
            .goto:hover {
                padding: 0px 85px 0px 85px;
                background-color: #ff7700;
                box-shadow: 0px 7px 7px #373241;
                transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;

            }
        .center__item_3 {
            margin-top: 30px;        
        }
        .center__item_3_article {
            font-size: 26px;
            font-weight: 300;
            margin-bottom: 5px;
            padding-left: 30px;
        }
        .center__item_3_row {
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }
        .center__item_3_row_1 {
            flex: 0 0 31.33%;
            background-color: white;
            padding: 5PX;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            overflow: hidden;
            height: 290px;
            transition: all 500ms ease 0ms;
        }
        .center__item_3_row_1:hover {
            box-shadow: 5px 5px 15px rgb(100, 92, 92), -5px -5px 15px rgb(100, 92, 92);
            cursor: pointer;
        }
        .center__item_3_row_1:last-child {
            margin-right: 0px;
        }

            .center__item_3_row_1_1 {
                flex: 0 0 90%;
                background-color: white;
                padding: 5PX;
                display: flex;
                flex-direction: column;
            }
                .center__item_3_row_image_cont {
                    max-width: 99%;
                    max-height: 300px;
                }
                    .center__item_3_row_image {
                        width: 100%;
                        max-width: 240px;
                        display: inline-block;
                        margin: 0px auto;
                    }
                .center__item_3_row_art {
                    font-size: 18px;
                    font-weight: 400;
                    margin: 20px 0px 0px 0px;
                    height: 10%;
                    align-items: flex-start;
                    color: rgb(100, 92, 92);
                }
                .center__item_3_row_text {
                    font-size: 17px;
                    font-weight: 300;
                    line-height: 20px;
                    height: 30%;
                    color: rgb(100, 92, 92);
                    margin: 16px 0px 10px 0px;
                    align-items: flex-end;
                }
            .center__item_3_row_button {
                width: 20px;
                align-self: flex-end;
                display: block;
                flex: 0 0 10%;
                padding-top: 3px;
            }
        

        .news_art {
            margin: 25px 0 15px 0;
        }    
        .news_line {
            display: flex;
            justify-content: space-between;
            height: 325px;
            margin: 0 20px;
            border-radius: 3px;
        }
            .news_line_column {
                overflow: hidden;
                flex: 0 0 31.333%;
                border-radius: 5px;
                background: white;
                display: flex;
                flex-direction: column;
                transition: all 500ms ease 100ms;
                }
            .news_line_column:hover {
                box-shadow: 0px 0px 15px rgb(100, 92, 92);
                cursor: pointer;

            }
                .news_line_column_pic_1 {
                    flex: 0 0 55%;
                    background: url(im-aero/news_1.png) no-repeat;
                }
                .news_line_column_pic_2 {
                    flex: 0 0 55%;
                    background: url(im-aero/news_2.png) no-repeat;
                }
                .news_line_column_pic_3 {
                    flex: 0 0 55%;
                    background: url(im-aero/news_3.png) no-repeat;
                }
                .news_line_column_pic img {
                    border-radius: 5px 5px 0 0;
                }
                .news_line_column_date {
                    flex: 0 0 10%;
                    margin-top: 7px;
                }
                .news_text {
                    font-size: 17px;
                    font-weight: 300;
                    line-height: 20px;
                    color: rgb(100, 92, 92);
                    padding: 0 10px;
                }
                .news_line_column_text {
                    flex: 0 0 25%;
                    padding-bottom: 7px;
                    overflow: hidden;
                }
                .news_line_column_link {
                    flex: 0 0 10%;
                    align-self: flex-end;
                }
                .news_line_column_link img {
                    height: 20px;
                    margin-right: 13px;
                }



        .right_center_col {
            max-width: 20%;
            min-width: 15%;
        }
            .side-board-none {
                height: 370px;
            }
            .side-board-1 {
                padding: 15px 0px;
            }       
            .side-board-1 img {
                width: 100%;
                min-width: 10
                
                0px;
            }   

    .right_main_column {
        flex: 0 0 10%;
}
        .rmc__wraper {
            max-width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 80px 10px 0px 10px;
}
        .rmc__1 {
            align-self: center;
            text-align: center;
        }
            .rmc__1__1 {
                height: 43px;
                margin-bottom: 20px;            
                }
            .rmc__1__1 a:visited {
                text-decoration: none;
            }
            .rmc__1__2 {
                height: 43px;
                display: inline-block;
                margin: 20px 0px 0px 0px;
                font-size: 17px;
                color: gray;
                text-align: center;
            }
            .rmc__1__2:hover {
                color: #e11400;
            }
            .rmc__1__3 {
                height: 43px;
                display: inline-block;
                font-size: 17px;
                color: gray;
                text-align: center;
            }
            .rmc__1__3:hover {
                color: #e11400;
            }
.footer {
    height: 70px;
}
.foot__content {
    width: 750px;
    font-size: 15px;
    font-weight: 300px;
    line-height: 18px;
    margin: 80px auto 30px auto;
    padding: 10px;
    text-align: center;
}
