*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;	width: 100%; font-size: 100%; line-height: 1; font-size: 14px; 	-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; 	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.bigred{font-size: 20px; color: red;}

body {font-family: 'Exo 2', sans-serif;}

.border {border: 1px solid green;}
.border2 {border: 1px solid red;}

.super-wrap {
    overflow: hidden;
}
.sub__wrap {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto;
    background: linear-gradient(top, #fbfbfc, #d8dce0);
    height: 100%;
}



.header {   

}
.header__content{
    align-items: center;
    height: 105px;
    padding: 15px 40px;
}
.head-left {
}
.logo {
    height: 70px;
}




.main {

    flex: 1 1 auto;
}
.main__content {
    flex: 1 1 auto;
    display: flex;
}
    .lefcen_main_column {

        max-width: 97%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
        .left_center_col {
            width: 280px;
        }
        .main-menu {
            justify-content: center;
            align-items:flex-start;
            height: fit-content;
            background-color: #ff1300;
            margin-bottom: 23px;
        }
        .mm-general {
            font-weight: 300;
            font-size: 16px;
            padding: 16px 25px 12px 50px;
            height: 50px;
            color: white;
            display: inline-block;
            width: 100%;
        }
        .mm-general:hover    {
            background-color: #e11400;
        }
        .aaa {
            display: block;
        }
        .autor {
            background-image: url('im-aero/left-white-man.png'), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 10px, 245px 17px;
        }
        .buy {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .price {
            background: url(im-aero/left-white-list.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .mcd {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .bus {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .day {
            background: url(im-aero/left-white-schedule.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .priv {
            background: url(im-aero/left-white-diamond.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .info {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .how {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .callme {
            background: url(im-aero/left-white-message.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .are {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .orange-info1 {
            background-color: #ff7700;
            padding: 15px 20px 15px 15px;
            margin-bottom: 25px;
            display: flex;
        }
        .sign1 {
            height: 29px;
            margin-right: 5px;
            margin-top: -2px;
        }
        .info1 {
            font-weight: 300;
            font-size: 16px;
            color: white;
            line-height: 22px;
        }
        .orange-info2 {
            background-color: #ff7700;
            padding: 15px 20px 15px 15px;
            display: flex;
        }
        .sign2 {
            height: 29px;
            margin-right: 5px;
            margin-top: -2px;
        }
        .info2 {
            font-weight: 300;
            font-size: 16px;
            color: white;
            line-height: 22px;
        }


        .center_center_col {
            max-width: 60%;
            flex: 1 1 auto;
        }
            .center__item_1 {

            }
            .slider {
                display: inline-block;
                width: 100%;
            }
            .center__item_1_2 {
            }
            .center__item_1_3 {
            }
            .center__item_2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .items_main {
                width: 200px;
                height: 160px;
                background-color: #8d97a2;
                margin: 10px 5px;
                border-radius: 0px 0px 20px 20px ;
            }
            .items_main:hover {
                transition-duration: 1s;
                transition-property: all;
                tr
            }
            .frame__SVO {
                text-align: right;
                font-size: 10px;
                color: white;
                margin: 6px 10px;
            }
            .frame {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 100px;
            }
            .frame__text {
                flex: 0 0 65%;
                color: white;
                padding: 5px;
            }
            .frame__article{
                font-size: 18px;
                font-weight: 600;
            }
            .frame__price {
                font-size: 24px;
                font-weight: 700;
                margin: 5px 0px;
            }
            .frame__howlong {
                font-size: 11px;
            }
            .frame__picture {
                flex: 0 0 35%;
                display: inline-block;
                width: 60px;
            }
            .frame__buy {

            }

            .center__item_2_1 {
            }
            .center__item_2_2 {
            }
            .center__item_2_3 {
            }
            .center__item_2_4 {
            }
            .center__item_2_5 {
            }
            .center__item_2_6 {
            }
            .center__item_2_7 {
            }
            .center__item_2_8 {
            }

            .form__goto {
                padding: 22px;
                display: flex;
                justify-content: center;
            }
            .goto {
                background-color: #e11400;
                border-radius: 25px;
                width: 250px;
                height: 50px;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: white;
                font-weight: 700;
                font-size: 22px;
                box-shadow: 0px 5px 5px #3c354a;
                transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55) 0ss;
            }
            .goto:hover {
                padding: 0px 50px;
                background-color: #ff7700;

            }



        .right_center_col {

            max-width: 20%;
            min-width: 15%;
        }
            .side-board-none {
                height: 350px;
            }
            .side-board-1 {
                padding: 15px 0px;
            }           

    .right_main_column {
        max-width: 100px;
}
        .rmc__wraper {
            max-width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 80px 10px 0px 10px;
}
        .rmc__1 {
        }
            .rmc__1__1 {
                height: 43px;
                margin-bottom: 20px;
            }
            .rmc__1__2 {
                height: 43px;
                display: inline-block;
                margin-top: 20px;
                font-size: 17px;
                color: gray;
                text-align: center;
            }


.footer {

}
.foot__content {
    width: 750px;
    font-size: 15px;
    font-weight: 300px;
    line-height: 18px;
    margin: 0px auto;
    padding: 10px;
}