
        .autor {
            background-image: url('im-aero/left-white-man.png'), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 10px, 245px 17px;
            z-index: 10;
        }
        .buy {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
            z-index: 2;
        }
        .price {
            background: url(im-aero/left-white-list.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .mcd {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .bus {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .day {
            background: url(im-aero/left-white-schedule.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .priv {
            background: url(im-aero/left-white-diamond.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .info {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .how {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-bottom.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .callme {
            background: url(im-aero/left-white-message.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .are {
            background: url(im-aero/left-white-info.png), url('im-aero/left-white-right.png');
            background-repeat: no-repeat;
            background-size: 26px, 16px;
            background-position: 12px 12px, 245px 17px;
        }
        .orange-info1 {
            background-color: #ff7700;
            padding: 15px 20px 15px 15px;
            margin-bottom: 25px;
            display: flex;
        }
        .sign1 {
            height: 29px;
            margin-right: 5px;
            margin-top: -2px;
        }
        .info1 {
            font-weight: 300;
            font-size: 16px;
            color: white;
            line-height: 22px;
        }
        .orange-info2 {
            background-color: #ff7700;
            padding: 15px 20px 15px 15px;
            display: flex;
        }
        .sign2 {
            height: 29px;
            margin-right: 5px;
            margin-top: -2px;
        }
        .info2 {
            font-weight: 300;
            font-size: 16px;
            color: white;
            line-height: 22px;
        }