.calc_container {
    max-width: 1100px;
    margin: 5px auto 70px auto;

}
.calc_choice {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px 50px;
}
@media (max-width: 420px) {
    .calc_choice {
        margin: 10px 5px 20px;
    }
}

.calc_choice__item {
    font-weight: 700;
    font-size: 22px;
    color: rgb(146, 145, 145);
    padding: 0 25px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 420px) {
    .calc_choice__item {
        font-size: 15px;
        padding: 0 10px;
        flex: 0 0 33.333%;
    }
}
.calc_choice__item.boom {
    color: rgb(39, 34, 34);
}
.train.calc_choice__item.boom::before,
.bus-s.calc_choice__item.boom::before {
    content: ' ';
    position: absolute;
    top: 25px;
    left: 23px;
    width: 152px;
    height: 2px;
    background-color: rgb(39, 34, 34);
}
.subs.calc_choice__item.boom::before {
    content: ' ';
    position: absolute;
    top: 25px;
    left: 25px;
    width: 177px;
    height: 2px;
    background-color: rgb(39, 34, 34);
}
@media (max-width: 420px) {
    .train.calc_choice__item.boom::before,
    .bus-s.calc_choice__item.boom::before,
    .subs.calc_choice__item.boom::before {
        display: none;
    }
}

.calc_choice__item:first-child::after,
.calc_choice__item:last-child::after {
    content: " ";
    position: absolute;
    top: -5px;
    left: -12px;
    width: 30px;
    height: 35px;
    background: url('calc/lightning.png') 10px 7px / 22px 22px no-repeat;
} 
@media (max-width: 420px) {
    .calc_choice__item:first-child::after,
    .calc_choice__item:last-child::after {
        font-size: 15px;
        padding: 0 10px;
        background: transparent;
    }
}


/* ========= ОБЩИЙ ДЛЯ ВЫБОРА ОПЦИЙ ============ */

.ticket_and_options {
    display: flex;
    justify-content: space-around; 
    margin: 0 auto 40px auto;
    width: 75%;
    min-width: 600px;
}
@media (max-width: 420px) {
    .ticket_and_options {
        display: block;
        min-width: 100%;
        margin: 0 auto 10px auto;
    }
}

.ticket_and_options__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 30%;
}
.pass420 {
    display: none;
}
@media (max-width: 420px) {
    .pass420 {
        display: block;
        background: linear-gradient(to top left, #8778C7 0%, #ABF8E7 100%);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
        -23px 0 20px -23px rgba(0, 0, 0, .2),
        23px 0 20px -23px rgba(0, 0, 0, .2),
        0 0 40px rgba(0, 0, 0, .1) inset;
        height: 25px;
        width: 250px;
        margin: 0px auto 15px;
        justify-content:  space-around;
        align-items: center;
        border-radius: 0px 0px 17px 17px;
        position: relative;
    }
}
.pass420_t {
    display: none;
}
@media (max-width: 420px) {
    .pass420_t {
        display: block;
        margin: 0 auto;
        padding-top: 3px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}
@media (max-width: 420px) {
    .ticket_and_options__item {
        display: none;
    }
}
.ticket_and_options__item.passengers {
    position: relative;
    display: flex;
}
@media (max-width: 420px) {
    .ticket_and_options__item.passengers {
        display: none;
    }
}

/* ========= БЛОК АКЦИЙ И ПАССАЖИРОВ ============ */
.promo__title {
    flex: 0 0 auto;
    font-size: 15px;
    font-weight: 300;
}
@media (max-width: 420px) {
    .promo__title {
        display: none;
    }
}
.promo__choice-block {
    flex: 1 1 70%;
    border-radius: 17px;
/* background-color: #F5E9E9;*/
/* background: linear-gradient(to top left, #B588F7, #1DE5E2);*/
    background: linear-gradient(to top left, #8778C7 0%, #ABF8E7 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
    -23px 0 20px -23px rgba(0, 0, 0, .2),
    23px 0 20px -23px rgba(0, 0, 0, .2),
    0 0 40px rgba(0, 0, 0, .1) inset;
    width: 70px;
    height: 126px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 420px) {
    .promo__choice-block {
        width: 100%;
        height: 50px;
        background: none;
        box-shadow: none;
        flex-direction: row;
    }
}

.promo__choice-block-items {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.promo__choice-block-items img {
    width: 44px;
    height: 44px;
}
.pass {
    display: inline-flex;
}
.promo__choice-block-items span {
    font-size: 33px;
    font-weight: 700;
    display: inline-flex;
    padding: 0 10px 0 0;
}
.child-im {
    display: inline-flex;
    padding: 0 10px 0 11px;
    height: 30px!important;
}
.non-active {
}
.discount, .discount-a {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    background-color: #46DF83;
    border-radius: 17px;
    padding: 3px 5px;
    position: relative;
}
@media (max-width: 420px) {
    .discount.d1, .discount-a.d1, .d2 {
        display: none;
    }
}
.no_d {
    font-weight: 500!important;
    background-color: #46df834a!important;
    color: rgba(0, 0, 0, 0.535)!important;
}
.promo__discount__before_5 {
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 70px;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    font-style: normal;
}


/* ========= БЛОК БИЛЕТА  - РЕЗУЛЬТАТ ВЫБОРА ============ */
.ticket_and_options__ticket {
    flex: 1 1 70%;
    display: flex;
}
@media (max-width: 420px) {
    .ticket_and_options__ticket {
        width: 100%;
        flex: 0 0 100%;
        margin: 0 auto;
    }
}
.ticket_and_options__ticket_1_vis, 
.ticket_and_options__ticket_2_vis,
.ticket_and_options__ticket_3_vis,
.ticket_and_options__ticket_4_vis,
.ticket_and_options__ticket_5_vis,
.ticket_and_options__ticket_6_vis {
    background: linear-gradient(to top left, #5C27FE, #C165DD);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 215px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 0 50px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: all 1s ease 0s;
    z-index: 20;
    cursor: pointer;
}
@media (max-width: 420px) {
    .ticket_and_options__ticket_1_vis, 
    .ticket_and_options__ticket_2_vis,
    .ticket_and_options__ticket_3_vis,
    .ticket_and_options__ticket_4_vis,
    .ticket_and_options__ticket_5_vis,
    .ticket_and_options__ticket_6_vis {
        max-width: 320px;
        margin: 0 auto;
    }
}

.ticket_and_options__ticket_2_vis {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0 5px 0;
    align-items: center;
    z-index: 20;
}
.ticket_and_options__ticket_1_vis, 
.ticket_and_options__ticket_2_vis, 
.ticket_and_options__ticket_3_vis,
.ticket_and_options__ticket_4_vis,
.ticket_and_options__ticket_5_vis,
.ticket_and_options__ticket_6_vis {
    display: flex;
}
.ticket_and_options__ticket_1_novis, 
.ticket_and_options__ticket_2_novis,
.ticket_and_options__ticket_3_novis,
.ticket_and_options__ticket_4_novis,
.ticket_and_options__ticket_5_novis,
.ticket_and_options__ticket_6_novis {
    display: none;
}
.ticket_and_options__ticket_1_vis:hover,
.ticket_and_options__ticket_3_vis:hover, 
.ticket_and_options__ticket_4_vis:hover, 
.ticket_and_options__ticket_5_vis:hover,  
.ticket_and_options__ticket_6_vis:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 1),
    -30px 0 30px -23px rgba(0, 0, 0, .8),
    30px 0 30px -23px rgba(0, 0, 0, .8),
    0 0 50px rgba(0, 0, 0, .1) inset;
}
.article2 {
    letter-spacing: 2px;
    display: inline-flex;
    position: relative;
}
.article2::after,
.article2::before {
    content: ' ';
    position: absolute;
    height: 2px;
    background-color: #FBB11C;
    width: 20px;
    top: 10px;
}
.article2::after {
    left: -30px;
}
.article2::before {
    right: -30px;
}
.passangers__go_man {
    margin-bottom: 15px;
}
.passangers__go_man, .passangers__go_chil {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.passangers__go_man img {
    width: 50px;
}
.passangers__go_chil img {
    width: 30px;
    margin-right: 15px;
}
.passangers__go_chil img:last-child {
    margin-right: 0px;
}
.passangers__go_note p {
    font-size: 13px;
    font-weight: 300;
    color: white;
}

.ticket_and_options__ticket__article {
    display: block;
    min-height: 35px;
    max-height: 35px;
    font-size: 19px;
    font-weight: 700;
    color: #ffff;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 10px 30px 0px;
}
.ticket_and_options__ticket__price {
    font-size: 65px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffff;
    padding: 10px 0 0 0;
    text-shadow: 1px 1px 1px black, 5px 5px 11px rgba(0, 0, 0, 0.7)
}
.standart, 
.business-t, 
.ex-bus, 
.subs30 {
    display: inline-flex;
}
.standart-no, 
.business-t-no, 
.ex-bus-no, 
.subs30-no {
    display: none;
}
@media (max-width: 380px) {
    .ex-bus.media380 {
        font-size: 15px;
    }
}
.tuda {
    display: inline-flex;
}
.tuda-no {
    display: none;
}
.min_text {
    font-size: 14px;
}
.ticket_and_options__ticket__discount__decor img {
    height: 30px;
    width: 30px;
    animation: light 15s ease infinite;
}
@keyframes light {
    0% {transform: scale3d(1, 1, 1);}
    10% {transform: scale3d(1.2, 1.2, 1);}
    20% {transform: scale3d(1, 1, 1);} 
    30% {transform: scale3d(1.2, 1.2, 1);}
    40% {transform: scale3d(1, 1, 1);} 
    50% {transform: rotate(-15deg);}
    60% {transform: rotate(0deg);}
    70% {transform: scale3d(1.2, 1.2, 1);}
    80% {transform: scale3d(1, 1, 1);}
    90% {transform: scale3d(1.2, 1.2, 1);}
    100% {transform: scale3d(1, 1, 1);}
}

.ticket_and_options__ticket__discount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 15px 0 0 0;
}
.ticket_and_options__ticket__discount__old-item {
    font-weight: 700;
    font-size: 18px;
    width: 66px;
    height: 35px;    
    border-radius: 17px;
    padding: 7px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(29, 28, 28, 0.474);
}
.one-price {
    background-color: rgba(199, 34, 34, 1);
    color: white;
    text-decoration: line-through;
    transform: rotate(-10deg);
}
.ticket_and_options__ticket__discount__old-item.discont {
    font-style: italic;
    background-color: #46DF83;
    transform: rotate(-10deg);
}
/* ====================== ОПЦИИ  ========================= */

.ticket_and_options__options.yes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 1300px) {
    .ticket_and_options__options.yes {
        width: 80%;
        gap: 15px;
    }
}
@media (max-width: 380px) {
    .ticket_and_options__options.yes {
        gap: 50px;
    }
}
@media (max-width: 380px) {
    .ticket_and_options__options.yes {
        width: 100%;
        gap: 20px;
    }
}
.ticket_and_options__options.no {
    display: none;
}
.ticket_and_options__options_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options_1 {
    background: linear-gradient(to top left, #8778C7 0%, #ABF8E7 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
    -23px 0 20px -23px rgba(0, 0, 0, .2),
    23px 0 20px -23px rgba(0, 0, 0, .2),
    0 0 40px rgba(0, 0, 0, .1) inset;
    height: 65px;
    width: 260px;
    margin: 5px 0;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    border-radius: 17px;
    position: relative;
}
@media (max-width: 420px) {
    .options_1 {
        margin-top: 0px;
    }
}
.t_o__prefix {
    position: absolute;   
    top: -20px;
    left: 30%;
}
@media (max-width: 420px) {
    .t_o__prefix {
        display: none;
    }
}
.options_1 img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 300ms linear 0s;
}
.options_1 img:hover {
    
}

.options_1__business_opt img, .image1 {
    height: 68px;
    width: 68px;
}

.options_1__business_opt {
    background: linear-gradient(to top left, #8778C7 0%, #ABF8E7 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
    -23px 0 20px -23px rgba(0, 0, 0, .2),
    23px 0 20px -23px rgba(0, 0, 0, .2),
    0 0 40px rgba(0, 0, 0, .1) inset;
    height: 80px;
    width: 100px;
    margin: 5px 0;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    border-radius: 17px;
    position: relative;
}
.boom_image1, .boom_image2, .boom_image3, .boom_image4, .boom_image5 {
    display: inherit;
    cursor: pointer;
}
.reboom_image1, .reboom_image2, .reboom_image3, .reboom_image4, .reboom_image5 {
    display: none;
    cursor: pointer;
}
.image2 {
    filter: opacity(30%)
}
.boom_image2 {
    filter: opacity(100%)
}
.options_1__text.business span {
    width: 110%;
    text-align:center;
}
.business, .rebusiness {
    padding: 6px 0 0 0;
}
.rebusiness, .sale {
    font-weight: 600;
}
.options_1__text.sale span {
    width: 110%;
}
.options_1__text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;
    gap: 6px;
}
@media (max-width: 420px) {
    .options_1__text {
        margin-bottom: 0px;
    }
}
@media (max-width: 420px) {
    .options_1__text.options_text {
        margin-bottom: 7px;
    }
}
.options_1__text.options_text {
    width: 260px;
}
.options_1__text span {
    font-size: 13px;
    text-align: center;
    display: inline-flex;
    width: 75px;
}
.image3-text, .image4-text, .image5-text {
    font-weight: 300;
}
.image3-retext, .image4-retext, .image5-retext {
    font-weight: 600;
}
.plushki1, .plushki2 {
    height: 20px;
}
.plushki-no {
    display: none;
}
@media (max-width: 420px) {
    .plushki1, .plushki2 {
        display: none;
    }
}

/* ==============КНОПКА============ */

.global_btn_wrap {
    width: 70%;
    margin: 35px auto;
}

.conditions {
    width: 90%;
    padding: 15px;
    margin: 33px auto;
    background: linear-gradient(to top left, #8778C7 0%, #ABF8E7 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
    -23px 0 20px -23px rgba(0, 0, 0, .2),
    23px 0 20px -23px rgba(0, 0, 0, .2),
    0 0 40px rgba(0, 0, 0, .1) inset;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    transition: all 300ms ease 0ms;
}
.conditions p:first-child,
.conditions p:last-child {
    font-weight: 600;
    display: inline-block;
    margin: 8px;
}
.conditions::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #9BCDD5;
    top: -15px;
    left: 47%;
}
.conditions {
    display: block;
}
.alpha__condition.del,
.busi__condition.del {
    display: none;
}

.comment {
    margin: 35px auto 0 auto;
    width: 80%;
}

.comment_text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}


/* =====================  ПОПАП ОПЛАТА  ============================ */

.popup_buy {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: all 500ms ease 0ms;
}
.popup_buy:target {
    opacity: 1;
    visibility: visible;
}
.popup_buy:target .popup_buy_content{
    opacity: 1;
    transform: translate(0px, 0px);
}
.popup_buy_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 40%;
    min-width: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 7px;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: all 500ms ease 0ms;
}
.popup_buy_content img {
    margin: 30px 0 0 0;
}

.popup_buy_content_text {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 30px 0 30px 0;
    cursor: pointer;
    letter-spacing: 1px;
    color: black;
}
