* {
    font-family: 'Graphik Kinopoisk LC Web SB', sans-serif;
}

body {
    /*background-image: url(im/AE1.png);
    background-color: rgb(200, 26, 11);*/
    background-color: white;
}

inp {

}

.header1 {
    background-color: black;
    opacity: 1;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
